.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #5a5858;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.12),
        0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
}

.title {
    text-transform: uppercase;
    font-size: 25px;
}

.stat-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: #f5f5ff;
}

.item {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    padding: 2%;
    color: #ffffff;
}