.transaction-history {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    text-align: center;
    text-transform: capitalize;
    width: 650px;
    font-size: 14px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.12),
        0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    color: rgb(116, 116, 116);
    border-radius: 10px;
    overflow: hidden;
}

.transaction-history td {
    padding: 15px 0px;
}

.transaction-history th {
    padding: 15px 0px;
    text-transform: uppercase;
    background-color: #24a2d8;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #d8d8d8ba;
}